*{
    margin: 0px;
    padding: 0px;
}

/* start header section */
#header{
    padding-top: 0px;
}

.navbar{
   
    display: flex;
    align-items: center;
}

.navbar__menu{
 
    display: flex;
}

.navbar__logo-image img{
    object-fit: cover;
    margin-right: 10px;
    padding-bottom: 16px;
}

.navbar__menu{
    list-style: none;
    
}

.navbar__list{
    padding:20px  20px;
    border-left:1px solid gray;
    font-size: 0.9em;
    transition: all 3s ease;
    
    
}

.navbar__link{
    text-decoration: none;
    color: black;
    
}

.navbar__link--green:hover{
color: green;
}

.navbar__link--orange:hover{
color: orange;
}

.navbar__link--blue:hover{
color: blue;
}

.navbar__link--blueviolet:hover{
color:blueviolet ;
}

.header-search{
    height: 100px;
    width: 100px;
   
    padding-top: 10px;
}


.header__icon{
    padding: 0px 33px;
}

/* finish header section */

/* start container section */



