:root {
  /* backgorund colors */
  --primary-color: #5e2572;
  --primary-hover2: rgba(94, 37, 114, 0.2);
  --primary-hover: rgba(94, 37, 114, 90%);
  --secondary-color: #d9dbdc;
  --secondary-hover: rgb(217, 219, 220, 70%);
  --secondary-hover2: rgba(217, 219, 220, 0.2);
  --succes-color: #00c689;
  --succes-hover: rgba(0, 198, 137, 70%);
  --succes-hover2: rgba(0, 198, 137, 0.2);
  --danger-color: #fc7242;
  --danger-hover: rgba(252, 114, 66, 70%);
  --danger-hover2: rgba(252, 114, 66, 0.2);
  --warning-color: #ffc100;
  --warning-hover: rgba(255, 193, 0, 70%);
  --warning-hover2: rgba(255, 193, 0, 0.2);
  --info-color: #4d13d1;
  --info-hover: rgba(77, 19, 209, 80%);
  --info-hover2: rgba(77, 19, 209, 0.2);
  --light-color: #f8f9fa;
  --light-hover: rgba(217, 219, 220, 60%);
  --liht-hover2: rgba(248, 249, 250, 0.2);
  --dark-color: #4f4a60;
  --dark-hover: rgba(0, 0, 0, 80%);
  --dark-hover2: rgba(79, 74, 96, 0.2);
  --gray-color: rgb(224, 224, 224);

  --color-white: #fff;
  --color-black: #212529;
  --color-blue: #007bff;
  --blue-hover: #609ad4;

  /* space */
  --space-mr: 0.5rem;
  --space-2mr: 1rem;
  --space-b: 0.063rem;
  --space-y: 0.188rem;
  --space-x: 0.875rem;
  --space-2x: 1.5rem;
  --space-z: 3.125rem;
  --space-o: 0.563rem;

  /* space-icon */

  --space-wh: 2.625rem;

  /* text-size */

  --text-size: 1.3rem;
  --text-size-x: 1.125rem;

  /* transtion effects */
  --ease-time: all 0.6s ease;
}

/* .flex{
  display: flex !important;;
  align-items: flex-start!important;
  justify-content: center !important;
} */

.aligin-items {
  align-items: center;
}

.flex {
  display: flex;
}

/* used on all buttons*/
.btn {
  display: inline-block;
  text-decoration: none;
  padding: var(--space-x) var(--space-2x);
  margin-top: var(--space-2mr);
  margin-right: var(--space-mr);
  border-radius: var(--space-y);
  font-size: var(--text-size);
  transition: var(--effect-time);
}

/* border-radius */
.btn-rounded {
  border-radius: var(--space-z);
}

/* btn-color  */
.btn-primary {
  background: var(--primary-color);
  color: var(--color-white);
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-secondary {
  background: var(--secondary-color);
  color: var(--color-black);
}

.btn-secondary:hover {
  background-color: var(--secondary-hover);
}

.btn-succes {
  background: var(--succes-color);
  color: var(--color-white);
}

.btn-succes:hover {
  background-color: var(--succes-hover);
}

.btn-danger {
  background-color: var(--danger-color);
  color: var(--color-white);
}

.btn-danger:hover {
  background-color: var(--danger-hover);
}

.btn-warning {
  background: var(--warning-color);
  color: var(--color-black);
}

.btn-warning:hover {
  background-color: var(--warning-hover);
}

.btn-info {
  background: var(--info-color);
  color: var(--white-color);
}

.btn-info:hover {
  background-color: var(--info-hover);
}

.btn-light {
  background: var(--light-color);
  color: var(--color-black);
}

.btn-light:hover {
  background-color: var(--light-hover);
}

.btn-dark {
  background-color: var(--dark-color);
  color: var(--color-white);
}

.btn-dark:hover {
  background-color: var(--dark-hover);
}

.btn-link {
  background-color: var(--white-color);
  text-decoration: none;
  color: var(--color-blue);
}

.btn-link:hover {
  text-decoration: underline;
}

/* btn-outline */
.btn-outline--primary {
  color: var(--primary-color);
  border: var(--space-b) solid var(--primary-color);
}

.btn-outline--primary:hover {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.btn-outline--secondary {
  color: var(--gray-color);
  background-color: var(--white-color);
  border: var(--space-b) solid var(--secondary-color);
}

.btn-outline--secondary:hover {
  background-color: var(--secondary-hover);
  color: var(--dark-color);
}

.btn-outline--success {
  border: var(--space-b) solid var(--succes-color);
}

.btn-outline--success:hover {
  background-color: var(--succes-color);
  color: var(--color-white);
}

.btn-outline--danger {
  border: var(--space-b) solid var(--danger-color);
  color: var(--danger-color);
}

.btn-outline--danger:hover {
  background-color: var(--danger-color);
  color: var(--color-white);
}

.btn-outline--warning {
  border: var(--space-b) solid var(--warning-color);
  color: var(--color-black);
}

.btn-outline--warning:hover {
  background-color: var(--warning-color);
}

.btn-outline--info {
  border: var(--space-b) solid var(--info-color);
  color: var(--info-color);
}

.btn-outline--info:hover {
  background-color: var(--info-color);
  color: var(--white-color);
}

.btn-outline--light {
  border: var(--space-b) solid var(--color-black);
}

.btn-outline--light:hover {
  color: var(--color-black);
  background-color: var(--dark-color);
}

.btn-outline--dark {
  border: var(--space-b) solid var(--dark-color);
  color: var(--dark-color);
}

.btn-outline--dark:hover {
  background-color: var(--dark-color);
  color: var(--color-white);
}

.btn-outline--link {
  color: var(--color-blue);
}

.btn-outline--link:hover {
  text-decoration: underline;
  color: var(--blue-hover);
}

/* btn-inverse */
.btn-primary--invers {
  color: var(--primary-color);
  background-color: var(--primary-hover2);
}

.btn-primary--invers:hover {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.btn-secondary--invers {
  background-color: var(--secondary-hover2);
  color: var(--secondary-color);
}

.btn-secondary--invers:hover {
  background-color: var(--secondary-color);
  color: var(--color-white);
}

.btn-success--invers {
  background-color: var(--succes-hover2);
  color: var(--succes-color);
}

.btn-success--invers:hover {
  background-color: var(--succes-color);
  color: var(--color-white);
}

.btn-danger--invers {
  background-color: var(--danger-hover2);
  color: var(--danger-color);
}

.btn-danger--invers:hover {
  background-color: var(--danger-color);
  color: var(--color-white);
}

.btn-warning--invers {
  background-color: var(--warning-hover2);
  color: var(--warning-color);
}

.btn-warning--invers:hover {
  background-color: var(--warning-color);
  color: var(--color-white);
}

.btn-info--invers {
  background-color: var(--info-hover2);
  color: var(--info-color);
}

.btn-info--invers:hover {
  background-color: var(--info-color);
  color: var(--color-white);
}

.btn-light--invers {
  background-color: var(--light-hover2);
  color: var(--dark-color);
}

.btn-light--invers:hover {
  background-color: var(--light-color);
  color: var(--color-white);
}

.btn-dark--invers {
  background-color: var(--dark-hover2);
  color: var(--dark-color);
}

.btn-dark--invers:hover {
  background-color: var(--dark-color);
  color: var(--color-white);
}

.btn-link--invers {
  color: var(--color-blue);
}

.btn-link--invers:hover {
  text-decoration: underline;
}

/* icon-button */

.home__btn {
  width: var(--space-wh);
  height: var(--space-wh);
  background-color: var(--primary-color);
  color: var(--color-white);
  padding: var(--space-o);
  text-align: center;
}

.home__btn i {
  font-size: var(--text-size-x);
}

.home__btn:hover {
  background-color: var(--primary-hover);
}

.int__btn {
  width: var(--space-wh);
  height: var(--space-wh);
  background-color: var(--dark-color);
  padding: var(--space-o);
  text-align: center;
  color: var(--color-white);
}

.int__btn:hover {
  background-color: var(--dark-hover);
}

.letter__btn {
  width: var(--space-wh);
  height: var(--space-wh);
  background-color: var(--danger-color);
  padding: var(--space-o);
  text-align: center;
  color: var(--color-white);
}

.letter__btn:hover {
  background-color: var(--danger-hover);
}

.star__btn {
  width: var(--space-wh);
  height: var(--space-wh);
  background-color: var(--info-color);
  padding: var(--space-o);
  text-align: center;
  color: var(--color-white);
}

.star__btn:hover {
  background-color: var(--info-hover);
}

.location__btn {
  width: var(--space-wh);
  height: var(--space-wh);
  background-color: var(--succes-color);
  padding: var(--space-o);
  text-align: center;
  color: var(--color-white);
}

.location__btn:hover {
  background-color: var(--succes-hover);
}
