section {
    margin: 0px auto;
    width: 1200px;
    height: 255px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .left-side-1 {
    width: 255px;
    height: 137px;
    border-radius: 10px;
    background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
  }
  
  .left-side-1 p {
    margin-top: 62px;
    margin-left: 24px;
    position: absolute;
    color: #ffffff;
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.25px;
  }
  
  .left-side-1 b {
    position: absolute;
    margin-top: 91px;
    margin-left: 24px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.75;
  }
  
  .left-side-2 {
    position: absolute;
    width: 255px;
    height: 166px;
    margin-top: 25px;
    position: absolute;
    border-radius: 10px;
    background-color: #FFFFFF;
  }