*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: grid;
    grid-template-rows: 100px 360px;
    grid-template-columns: 1fr 1fr;
    
   grid-row-gap: 20px;
   grid-column-gap: 20px;

}

.header__navbar{
    background-color: aqua;
    grid-column: 1/4;
}

.header__posts{
    background-color: aqua;
}