// colors

$secondary-color:#AD1FEA;
$primary-color:#4661E6;
$color-A:#373F68;
$color-B:#FFFFFF;
$color-C:#F2F4FF;
$color-D:#F7F8FD;
$color-E:#3A4374;
$color-F:#647196;
$color-G:#F49F85;
$color-Y:#62BCFA;



//gradiants
$gradiend: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);




//Font-family





//font-size


//spacing
$spacing-x:5px;
$spacing-y:5px*2;
$spacing-z:5px*3;
$spacing-q:5px*8.8;
$spacing-w:5px*10.6;
$spacing-t:3px*31.6;