body{
    margin: 0;
    padding: 0;
    font-family: 'Zilla Slab', serif;
}

/* start header page */
.header-container{
    width: 1200px;
   display: flex;
    justify-content: flex-end;
   align-items: center;
}

.logo{
    width: 153px;
    height: 48px;
    margin-top: -18px;
    
}

.logo img{
    width: 100%;
    object-fit: cover;
}

.navbar{
    width: 535px;
    height: 48px;
    margin-left: 1em;
    margin-top: 3px;
 
}

.navbar ul{
    display: flex;
    justify-content: space-between
   
}

 ul li{
    list-style: none;
    
}

li a{
    text-decoration: none;
}

.text{
    width: 305px;
    height: 83px;
    border: 1px solid blue;
    margin-left: 30px;
    background-color: #253476;
    color: white;
    text-align: left;
}

p{
    padding-top: 0px;
    font-weight:500 ;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    margin-left: 10px;
}

.text-aligin{
    text-align: center;
}

.about-text img{
    object-fit: cover;
}

.nature-box{
    
}

.nature-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.padding-reset{
    padding: 0;

}


.adress{
    background-color:#27AE60 ;
    color: white;
    padding-top: 30px ;
    margin-top: -1em;
}

.border-right{
    border-right: 2px solid white;
}

.adress-icon{
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size:20px ;
 
}

.adress-link{
    margin: 0px 5px;
}

.--white{
    color: white;
}

.--orange{
color: orange;
}

.lawyer{
    text-align: center;
    color: white;
}