body{
    margin: 0;
    padding: 0;
    font-family: 'Zilla Slab', serif;
}




/* start header page */
.header-container{
    width: 1200px;
   display: flex;
    justify-content: flex-end;
   align-items: center;
}

.logo{
    width: 153px;
    height: 48px;
    margin-top: -18px;
    
}

.logo img{
    width: 100%;
    object-fit: cover;
}

.navbar{
    width: 535px;
    height: 48px;
    margin-left: 1em;
    margin-top: 3px;
 
}

.navbar ul{
    display: flex;
    justify-content: space-between
   
}

 ul li{
    list-style: none;
    
}

li a{
    text-decoration: none;
}

.text{
    width: 305px;
    height: 83px;
    border: 1px solid blue;
    margin-left: 30px;
    background-color: #253476;
    color: white;
    text-align: left;
}

p{
    padding-top: 0px;
    font-weight:500 ;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    margin-left: 10px;
}

.slider-container{
    position: relative;
}

.slider-image{
    width: 890px;
    height: 240px;
    margin: 30px auto;
   
}

.slider-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.slider-text{
    width: 300px;
    height: 80px;
    text-align: center;
    position: absolute;
    bottom: 76px;
    left: 442px;
}

.slider-text h3{
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 2px;
}

.color{
    color: #27AE60;;
}


.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box{
    height: 319px;
    width: 280px;
    /* border: 1px solid red; */
    margin:0px 10px;
    
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-text{
    position: absolute;
    bottom: 15px;
    left: 200px;
    color: white;
}

.product-text-2{
    position: absolute;
    bottom: 0;
    left: 492px;
    color: white;
}

.product-text-3{
    position: absolute;
    bottom: 0;
    left: 793px;
    color: white;
}

.product-text h3{
    border-bottom: 2px solid white;
    
}

.product-container-new{
    margin-top:20px ;
display: flex;
justify-content: center;
align-items: center;
}


.box-item{
    width: 280px;
    height: 319px;
    /* border: 1px solid red; */
    margin: 0px 10px;
    position: relative;
}

.box-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-text{
    color: white;
    position: absolute;
    left: 20px;
    bottom: 0;

}


.direction{
    /* border: 1px solid red; */
     width: 1200px;
     margin-top: 3em;
}

.direction-container{
    /* border: 1px solid black; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 400px;
}
.direction-box{
    
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 30px;
}

.direction-box a{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   text-decoration: none;
}

.direction-number{
    font-size: 1em;
}
.--bg-white{
    background-color: rgb(233, 227, 227);
}

.--bg-green{
    background-color: #27AE60;
}

.text-black{
    color: black;
}

.text-white{
    color: white;
}

.number-2{
    color:#27AE60 ;
}




.adress{
    background-color:#27AE60 ;
    color: white;
    padding-top: 30px ;
    margin-top: 5em;
}

.border-right{
    border-right: 2px solid white;
}

.adress-icon{
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size:20px ;
 
}

.adress-link{
    margin: 0px 5px;
}

.--white{
    color: white;
}

.--orange{
color: orange;
}

.lawyer{
    text-align: center;
    color: white;
}




