.container {
  height: 100vh ;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(91, 91, 174);
}

.card {
  height: 400px;
  width: 200px;

  margin: 10px;
  /* transition:all .3s ease */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  transition: all 0.3s ease;
}

.card_icon {
  width: 90px;
  height: 90px;
  margin-top: 20px;

  border-radius: 50%;
  border: 3px solid white;
  color: white;
  font-size: 2em;
  text-align: center;
  line-height: 90px;
}

.card_title {
}

.card_desciription {
  text-align: center;
  padding: 0px 20px;
}

.card_btn {
  text-decoration: none;
  background-color: rgb(255,255,255);
  padding: 15px 30px;
  color: rgb(155, 152, 152);
}

.card:hover {
  transform: scale(0.7);
  background-color: rgb(72, 72, 177);
}

.card:hover .card_btn{
    background-color: rgb(91, 91, 174);
    
}